body{
    background-color: rgb(202, 202, 202);
}

.modalWindow {
    border-radius: 7px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 50%;
}

.mainInf{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    border-bottom: 2px solid black;
}

.headText{
    font-size: 20px;
    margin-top: 24px;
    margin-left: 24px;
}

.foto{
    margin-top: 20px;
    border: 1px solid black;
    height: 100px;
    width: 150px;
}
